<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>

    <footer class="footer">
        <div class="footer-links">
            <a href="/frontend" style="--i:0;">F R O N T E N D</a>
            <a href="/backend" style="--i:1;">B A C K E N D</a>
            <a href="/demo" style="--i:2;">D E M O</a>
            <a href="/home" style="--i:3;">C U R R I C U L U M V I T A E</a>
        </div>
        
        <div class="footer-column">
            <h3>Kapcsolat</h3>
            <p>Email: <a href="mailto:t.julia982@gmail.com">t.julia982{{'@'}}gmail.com</a></p>
            <p>GitHub: <a href="https://github.com/artbabart" target="_blank">github.com/Artbabart</a></p>
        </div>
</footer>

</body>
</html>