<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container">
      <iframe
        id="frame1"
        src="https://qrcode-generator-c2sb.onrender.com/"
        style="border: none; border-radius: 12px;">
      </iframe>

      <iframe
        id="frame2"
        src="https://youtube-downloader-eu7p.onrender.com/"
        style="border: none; border-radius: 12px;">
      </iframe>

      <iframe
        id="frame3"
        src="https://pdfmerger-fkj6.onrender.com"
        style="border: none; border-radius: 12px;">
      </iframe>
    </div>
</body>
</html>


