<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header class="header">
        
        <div class="nav-content">
            <img src="assets/images/logo.png" alt="logo" class="logo-img">
        </div>
        
        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu"></i>
            <i class='bx bx-x' id="x"></i>
        </label>

        <nav class="navbar">
            <a routerLink="/frontend" routerLinkActive="active" style="--i:0;">F R O N T E N D</a>
            <a routerLink="/backend" routerLinkActive="active" style="--i:1;">B A C K E N D</a>
            <a routerLink="/demo" routerLinkActive="active" style="--i:1;">D E M O S</a>
            <a routerLink="/home" routerLinkActive="active" style="--i:3;">C U R R I C U L U M    V I T A E</a>
        </nav>
    </header>
</body>
</html>
