<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ 'CV_TITLE' | translate }}</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
      <STYLE>
          p {
               color: rgb(107, 26, 26);
            }
       </STYLE>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
        <img src="assets/images/RJIJXB.jpg" alt="kepem" class="kepem-img">
        <h1 class="name">{{ 'NAME' | translate }}</h1>
      <div class="button-wrapper">
            <a href="assets/toth_julia_kesz_sarga.pdf" download class="btn">
                <i class="bi bi-download"></i>
                    {{ 'DOWNLOAD_BUTTON' | translate }}
            </a>
      </div>
      <div class="language-switch">
        <button class="btn" (click)="changeLanguage('hu')">Magyar</button>
        <button class="btn" (click)="changeLanguage('en')">English</button>
      </div>
      <section class="contact">
          <h2>
            <!-- Kapcsolat -->
             {{ 'CONTACT' | translate }}
          </h2>
        <ul>
          <li>
            <i class="bi bi-geo-alt"></i>
            {{ 'ADDRESS' | translate }}
            <!-- 2120 Dunakeszi, Hunyadi János utca 110. -->
          </li>
          <li>
            <i class="bi bi-telephone"></i>
            {{ 'PHONE' | translate }}
            <!-- +36203740333 -->
          </li>
          <li>
            <i class="bi bi-send"></i>
            {{ 'EMAIL' | translate }}
            <!-- t.julia982{{'@'}}gmail.com -->
          </li>
          <li>
            <i class="bi bi-stars"></i>
            {{ 'BORN' | translate }}
            <!-- 2001.01.31 -->
          </li>  
          <li>
            <i class="bi bi-flag"></i>
            {{ 'NATIONALITY' | translate }}
            <!-- magyar -->
          </li> 
          <li>
            <i class="bi bi-people"></i>
            {{ 'MARITAL_STATUS' | translate }}
            <!-- hajadon -->
          </li>
          <li>
            <i class="bi bi-github"></i>
            {{ 'GITHUB' | translate }}
            <!-- Github: github.com/artbabar -->
          </li>
          <li>
            <i class="bi bi-globe-americas"></i>
            {{ 'PORTFOLIO' | translate }}
            <!-- Portfólióm: portfolio-1-qyd0.onrender.com -->
          </li>    
        </ul>
      </section>
      <section class="skills">
        <h2>
          {{ 'SKILLS' | translate }}
          <!-- Készségek -->
        </h2>
        <div class="hard-skills">
          <p>{{ 'HARD_SKILLS' | translate }} </p>
          <ul>
            <li>
              {{ 'FRONTEND' | translate }}
              <!-- Angular használata (HTML/CSS/TYPE SCRIPT) -->
            </li>
            <li>
              {{ 'BACKEND' | translate }}
              <!-- Laravel, Python -->
            </li>
            <li>
              {{ 'DATABASE' | translate }}
              <!-- SQL -->
            </li>
            <li>
              {{ 'VERSION TRACKING' | translate }}
              <!-- Git & GitHub: (https://github.com/artbabar) -->
            </li>
            <li>
              {{ 'WEBSITE DESIGN' | translate }}
              <!-- Weboldal tervezés
              (megvalósíthatóság, felhasználói élmény, design) -->
            </li>
            <li>
              {{ 'GRAPHICS' | translate }}
              <!-- Photoshop/Illustrator használata -->
            </li>
          </ul>
        </div>
        <div class="soft-skills">
          <p>{{ 'SOFT_SKILLS' | translate }}</p>
          <ul>
            <li>
              {{ 'WAY OF THINKING' | translate }}
              <!-- Algoritmikus és rendszerszintű gondolkodás -->
            </li>
            <li>
              {{ 'PROBLEM SOLVE' | translate }}
              <!-- Kreatív problémamegoldás -->
            </li>
            <li>
              {{ 'LEARN' | translate }}
              <!-- Önálló tanulás, és fejlődési igény -->
            </li>
            <li>
              {{ 'SELF' | translate }}
              <!-- Önreflexió -->
            </li>
            <li>
              {{ 'ABILITY' | translate }}
              <!-- Együttműködésre való képesség, csapatmunka -->
            </li>
            <li>
              {{ 'VISUAL' | translate }}
              <!-- Kreatív vizuális tervezés -->
            </li>
            <li>
              {{ 'FOCUS' | translate }}
              <!-- Fókuszált munkavégzés -->
            </li>
          </ul>
        </div>
      </section>
    </aside>

    <main class="content">
      <section class="about">
        <h2>{{ 'ABOUT' | translate }}</h2>
        <p>
          {{ 'ABOUT_TEXT' | translate }}
          <!-- Motivált és kreatív junior webfejlesztő vagyok, aki Angular és Laravel
            alapú webalkalmazások fejlesztésére specializálódott. Erős vizuális
            érzékemet és rendszerszintű gondolkodásomat a technikusi és
            mérnökinformatikus tanulmányaim, valamint saját portfólióprojektek
            révén folyamatosan fejlesztem. Szeretek új technológiákat elsajátítani és
            a folyamatos tanulást elengedhetetlennek tartom. Célom, hogy
            felhasználóbarát, stabil és látványos megoldásokkal járuljak hozzá egy
            fejlesztőcsapat munkájához. Erősségeim közé tartozik a
            megbízhatóság, és a következetes munkavégzés. -->
        </p>

      </section>
      <section class="experience">
        <h2>{{ 'EXPERIENCE' | translate }}</h2>
        <ul>
          <p>
            {{ 'CHILD1' | translate }}
            <!-- Gyermekfelügyelet,
            Magánszemély - Dunakeszi, Pest -->
          </p>
          <li>
            {{ 'CHILD2' | translate }}
            <!-- Alkalmi munka, 08/2023 - 05/2025 -->
          </li>
          <li>
            {{ 'CHILD3' | translate }}
            <!-- Feladataim: gyermek felügyelete, kreatív foglalkozások és tanulási
            segítségnyújtás. -->
          </li>
          <li>
            {{ 'CHILD4' | translate }}
            <!-- Tapasztalatok: felelősségvállalás, pedagógiai és pszicológiai
            tapasztalatok, szabadidő szervezés. -->
          </li>
        </ul>
        <ul>
          <p>
            {{ 'WASHING1' | translate }}
            <!-- Mosogató,
            360 BAR - Budapest, Pest -->
          </p>
          <li>
            {{ 'WASHING2' | translate }}
            <!-- Diákmunka, 05/2024 - 09/2024 -->
          </li>
          <li>
            {{ 'WASHING3' | translate }}
            <!-- Feladataim: pohár- és konyhai mosogatóban való munkavégzés. -->
          </li>
          <li>
            {{ 'WASHING1' | translate }}
            <!-- Tapasztalatok: gyors munkavégzés, terhelhetőség, kommunikáció, <br>
            csapatmunka. -->
          </li>
        </ul>
        <ul>
          <p>
            {{ 'PACKER1' | translate }}
            <!-- Csomagoló,
            Gamma Trade Kft. - Fót, Pest -->
          </p>
          <li>
            {{ 'PACKER2' | translate }}
            <!-- Diákmunka, 01/2024 - 07/2024 -->
          </li>
          <li>
            {{ 'PACKER3' | translate }}
            <!-- Feladataim: játékkártyák csomagolása. -->
          <li>
            {{ 'PACKER4' | translate }}
            <!-- Tapasztalatok: monotonitástűrés, teherbírás. -->
          </li>
        </ul>
        <ul>
          <p>
            {{ 'HELPER1' | translate }}
            <!-- Kisegítő,
            Gofri Ház - Dunakeszi, Pest -->
          </p>
          <li>
            {{ 'HELPER2' | translate }}
            <!-- Alkalmi munka, 01/2018 - 12/2020 -->
          </li>
          <li>
            {{ 'HELPER3' | translate }}
            <!-- Feladataim között voltak: gofri elkészítése, tálalása, felszolgálása,
            rendelés felvétel, mosogatás, takarítás. -->
          <li>
            {{ 'HELPER4' | translate }}
            <!-- Tapasztalatok: vendégekkel való kommunikáció, munkafolyamatok 
            tervezése, és gyors elsajátítása, váratlan helyzetek kezelése,
            együttműködés. -->
          </li>
        </ul>
      </section>
      <section class="education">
         <h2>{{ 'EDUCATION' | translate }}</h2>
        <ul>
          <p>{{ 'PRIMARY1' | translate }} </p>
          <ul>
            {{ 'PRIMARY2' | translate }}
            <!-- Általános iskola, 09/2008 - 12/2014 <br>
            Bárdos Lajos Általános Iskola - Dunakeszi -->
          </ul>
          <p>{{ 'PRIMARY1' | translate }} </p>
          <ul>
            {{ 'PRIMARY3' | translate }}
            <!-- Általános iskola, 12/2014 - 08/2016 <br>
            Fóti Szabad Waldorf Óvoda, Iskola és Gimnázium - Fót -->
          </ul>
          <p>{{ 'GRADUATE1' | translate }}</p>
          <ul>
            {{ 'GRADUATE2' | translate }}
            <!-- Alapfokú művészeti iskola, 09/2016 - 08/2021 <br>
            Fóti Szabad Waldorf Óvoda, Iskola és Gimnázium - Fót -->
          </ul>
          <li>
            {{ 'GRADUATE3' | translate }}
              <!-- Emelt szintű informatika érettségi -->
          </li>
          <p>{{ 'TECHNICIAN1' | translate }}</p>
          <ul>
            {{ 'TECHNICIAN2' | translate }}
            <!-- Szoftverfejlesztő és tesztelő, 09/2021 - 08/2023 <br>
            BZSH Külkereskedelmi Technikum - Budapest  -->
          </ul>
            <li>  
              {{ 'TECHNICIAN3' | translate }}
                <!-- Adatbázis kezelés: tanultunk sql lekérdezéseket írni, adatbázis
                tervezést, phpmyadmin felületen dolgoztunk.  -->
            </li>
            <li>
              {{ 'TECHNICIAN4' | translate }}
                <!-- Backend: Laravel keretrendszer, php nyelv sem ismeretlen a
                számomra. -->
            </li>
            <li>
              {{ 'TECHNICIAN5' | translate }}
                <!-- Frontend: Angular keretrendszerben mélyedtünk el, azóta is főleg ezt
                használom.  -->
            </li>
            <li>
              {{ 'TECHNICIAN6' | translate }}
                <!-- Git verziókezelés -->
            </li>
          <p>{{ 'BSC1' | translate }}</p>
          <ul>
            {{ 'BSC2' | translate }}
            <!-- Mérnökinfromatikus, 09/2023 - Jelenleg <br>
            Gábor Dénes Egyetem - Budapest -->
          </ul>
        </ul>
      </section>
      <section class="eredmenyek">
        <h2>{{ 'RESULT1' | translate }}</h2>
        <ul>
          <li>
            {{ 'RESULT2' | translate }}
            <!-- CCNA: Introduction to Networks course -->
          </li>
        </ul>
      </section>
    </main>
  </div>
</body>
</html>