<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tóth Júlia - Önéletrajz</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
        <img src="assets/images/RJIJXB.jpg" alt="kepem" class="kepem-img">
        <h1 class="name">Tóth Júlia</h1>
      <div class="button-wrapper">
            <a href="assets/toth_julia_kesz_sarga.pdf" download class="btn">
                <i class="bi bi-download"></i>
                    Letölthető CV
            </a>
      </div>
      <section class="contact">
          <h2>
            Kapcsolat
          </h2>
        <ul>
          <li>
            <i class="bi bi-geo-alt"></i>
            2120 Dunakeszi, Hunyadi János utca 110.
          </li>
          <li>
            <i class="bi bi-telephone"></i>
            +36203740333
          </li>
          <li>
            <i class="bi bi-send"></i>
            t.julia982{{'@'}}gmail.com
          </li>
          <li>
            <i class="bi bi-stars"></i>
            2001.01.31
          </li>  
          <li>
            <i class="bi bi-flag"></i>
            magyar
          </li> 
          <li>
            <i class="bi bi-people"></i>
            hajadon
          </li>
          <li>
            <i class="bi bi-github"></i>
            Github: github.com/artbabar
          </li>
          <li>
            <i class="bi bi-globe-americas"></i>
            Portfólióm: portfolio-1-qyd0.onrender.com
          </li>    
        </ul>
      </section>
      <section class="skills">
        <h2>
          Készségek
        </h2>
        <div class="hard-skills">
          <p>Hard skillek: </p>
          <ul>
            <li>
              Angular használata (HTML/CSS/TYPE SCRIPT)
            </li>
            <li>
              Laravel, Python
            </li>
            <li>
              SQL
            </li>
            <li>
              Git & GitHub: (https://github.com/artbabar)
            </li>
            <li>
              Weboldal tervezés
              (megvalósíthatóság, felhasználói élmény, design)
            </li>
            <li>
              Photoshop/Illustrator használata
            </li>
          </ul>
        </div>
        <div class="soft-skills">
          <p>Soft skillek:</p>
          <ul>
            <li>
              Algoritmikus és rendszerszintű gondolkodás
            </li>
            <li>
              Kreatív problémamegoldás
            </li>
            <li>
              Önálló tanulás, és fejlődési igény
            </li>
            <li>
              Önreflexió
            </li>
            <li>
              Együttműködésre való képesség, csapatmunka
            </li>
            <li>
              Kreatív vizuális tervezés
            </li>
            <li>
              Fókuszált munkavégzés
            </li>
          </ul>
        </div>
      </section>
    </aside>

    <main class="content">
      <section class="about">
        <h2>Bemutatkozás</h2>
        <p>
          Motivált és kreatív junior webfejlesztő vagyok, aki Angular és Laravel
            alapú webalkalmazások fejlesztésére specializálódott. Erős vizuális
            érzékemet és rendszerszintű gondolkodásomat a technikusi és
            mérnökinformatikus tanulmányaim, valamint saját portfólióprojektek
            révén folyamatosan fejlesztem. Szeretek új technológiákat elsajátítani és
            a folyamatos tanulást elengedhetetlennek tartom. Célom, hogy
            felhasználóbarát, stabil és látványos megoldásokkal járuljak hozzá egy
            fejlesztőcsapat munkájához. Erősségeim közé tartozik a
            megbízhatóság, és a következetes munkavégzés.
        </p>

      </section>
      <section class="experience">
        <h2>Munkatapasztalat</h2>
        <ul>
          <p>
            Gyermekfelügyelet
            Magánszemély - Dunakeszi, Pest
          </p>
          <li>
            Alkalmi munka, 08/2023 - 05/2025
          </li>
          <li>
            Feladataim: gyermek felügyelete, kreatív foglalkozások és tanulási
            segítségnyújtás.
          </li>
          <li>
            Tapasztalatok: felelősségvállalás, pedagógiai és pszicológiai
            tapasztalatok, szabadidő szervezés.
          </li>
        </ul>
        <ul>
          <p>
            Mosogató
            360 BAR - Budapest, Pest
          </p>
          <li>
            Diákmunka, 05/2024 - 09/2024
          </li>
          <li>
            Feladataim: pohár- és konyhai mosogatóban való munkavégzés.
          </li>
          <li>
            Tapasztalatok: gyors munkavégzés, terhelhetőség, kommunikáció, <br>
            csapatmunka.
          </li>
        </ul>
        <ul>
          <p>
            Csomagoló
            Gamma Trade Kft. - Fót, Pest
          </p>
          <li>
            Diákmunka, 01/2024 - 07/2024
          </li>
          <li>
            Feladataim: játékkártyák csomagolása.
          <li>
            Tapasztalatok: monotonitástűrés, teherbírás.
          </li>
        </ul>
        <ul>
          <p>
            Kisegítő
            Gofri Ház - Dunakeszi, Pest
          </p>
          <li>
            Alkalmi munka, 01/2018 - 12/2020
          </li>
          <li>
            Feladataim között voltak: gofri elkészítése, tálalása, felszolgálása,
            rendelés felvétel, mosogatás, takarítás.
          <li>
            Tapasztalatok: vendégekkel való kommunikáció, munkafolyamatok 
            tervezése, és gyors elsajátítása, váratlan helyzetek kezelése,
            együttműködés.
          </li>
        </ul>
      </section>
      <section class="education">
         <h2>Tanulmányok</h2>
        <ul>
          <li>
            Alapfokú: Általános iskola, 09/2008 - 12/2014
            Bárdos Lajos Általános Iskola - Dunakeszi
          </li>
          <li>
            Alapfokú: Általános iskola, 12/2014 - 08/2016
            Fóti Szabad Waldorf Óvoda, Iskola és Gimnázium - Fót
          </li>
          <li>
            Érettségi: Alapfokú művészeti iskola, 09/2016 - 08/2021 
            Fóti Szabad Waldorf Óvoda, Iskola és Gimnázium - Fót
              Emelt szintű informatika érettségi
          </li>
          <li>
            Technikus: Szoftverfejlesztő és tesztelő, 09/2021 - 08/2023 
            BZSH Külkereskedelmi Technikum - Budapest 
            
               Adatbázis kezelés: tanultunk sql lekérdezéseket írni, adatbázis
              tervezést, phpmyadmin felületen dolgoztunk. 
               Backend: Laravel keretrendszer, php nyelv sem ismeretlen a
              számomra. 
               Frontend: Angular keretrendszerben mélyedtünk el, azóta is főleg ezt
              használom. 
               Git verziókezelés
          </li>
          <li>
            BSc: Mérnökinfromatikus, 09/2023 - Jelenleg
            Gábor Dénes Egyetem - Budapest
          </li>
        </ul>
      </section>
      <section class="eredmenyek">
        <h2>Eredmények</h2>
        <ul>
          <li>
            CCNA: Introduction to Networks course
          </li>
        </ul>
      </section>
    </main>
  </div>
</body>
</html>