$bg-color: linear-gradient(to left, #105679, #f54f4d, #105679);
* {
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: $bg-color;
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 2rem;
}

.sidebar, .content {
  background-color: rgba(255,255,255,0.1);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding-left: 2rem;
}

.sidebar {
  flex: 1 1 300px;

  .kepem-img {
    width: 100%;
    max-width: 220px;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5%;
    border:  3px solid;
  }

  .kepem-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

  .name {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .button-wrapper {
    text-align: center;
    margin: 1.5rem 0;

    .btn {
      background-color: brown;
      color: white;
      padding: 10px 16px;
      border-radius: 6px;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;


      &:hover {
        background-color: rgb(107, 26, 26);
      }
    }
  }

  .language-switch{
      text-align: center;
      margin: 1.5rem 0;

      .btn{
        background-color: brown;
        color: white;
        padding: 10px 16px;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;

      &:hover {
        background-color: rgb(107, 26, 26);
      }
   }
 } 

  section {
    margin-bottom: 1.5rem;

    h2{
      border-bottom: 2px solid #ddd;
      padding-bottom: 0.3rem;
      margin-bottom: 1rem;
      color: brown;
      padding-left: 1rem;
    }

    p {
      font-weight: bold;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
    }

    ul {
      list-style: none;
      padding-left: 2rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.content {
  flex: 2 1 600px;

  section {
    margin-bottom: 2rem;

    h2 {
      border-bottom: 2px solid #ddd;
      padding-bottom: 0.3rem;
      margin-bottom: 1rem;
      color: brown;
      padding-left: 1rem;
    }

    p,
    li {
      line-height: 1.6;
      padding-right: 2rem;
      text-align: justify;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }
}