<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <STYLE>
          p {
               color: #073b4c;
            }
       </STYLE>
</head>
<body>
  <div class="container">
    <div class="kep">
      <img src="assets/images/RJIJXB.jpg" alt="kepem" class="kepem-img">
    </div>
    <div class="content">
      <h1>Tóth Júlia</h1>
      <h2>Bemutatkozás</h2>
      <h3>Motivált és kreatív junior webfejlesztő vagyok, aki Angular és Laravel
          alapú webalkalmazások fejlesztésére specializálódott. Erős vizuális
          érzékemet és rendszerszintű gondolkodásomat a technikusi és
          mérnökinformatikus tanulmányaim, valamint saját portfólióprojektek
          révén folyamatosan fejlesztem. Szeretek új technológiákat elsajátítani és
          a folyamatos tanulást elengedhetetlennek tartom. Célom, hogy
          felhasználóbarát, stabil és látványos megoldásokkal járuljak hozzá egy
          fejlesztőcsapat munkájához. Erősségeim közé tartozik a
          megbízhatóság, és a következetes munkavégzés.</h3>
      <h2>Munkatapasztalat</h2>
      <h3>
          <p> Gyermekfelügyelet </p> <br>
          Magánszemély - Dunakeszi, Pest <br>
          <br>
          • Alkalmi munka, 08/2023 - 05/2025 <br>
          <br>
          • Feladataim: gyermek felügyelete, kreatív foglalkozások és tanulási <br>
          segítségnyújtás. <br>
          • Tapasztalatok: felelősségvállalás, pedagógiai és pszicológiai <br>
          tapasztalatok, szabadidő szervezés. <br>
      </h3>
      <h3>
          <p>Mosogató</p> <br>
          360 BAR - Budapest, Pest <br>
          <br>
          • Diákmunka, 05/2024 - 09/2024 <br>
          <br>
          • Feladataim: pohár- és konyhai mosogatóban való munkavégzés. <br>
          • Tapasztalatok: gyors munkavégzés, terhelhetőség, kommunikáció, <br>
          csapatmunka. <br>
      </h3>
      <h3>
        <p>Csomagoló</p> <br>
        Gamma Trade Kft. - Fót, Pest <br>
        <br>
        • Diákmunka, 01/2024 - 07/2024 <br>
        <br>
        • Feladataim: játékkártyák csomagolása. <br>
        • Tapasztalatok: monotonitástűrés, teherbírás. <br>
      </h3>
      <h3>
          <p>Kisegítő</p> <br>
          Gofri Ház - Dunakeszi, Pest <br>
          <br>
          • Alkalmi munka, 01/2018 - 12/2020 <br>
          <br>
          • Feladataim között voltak: gofri elkészítése, tálalása, felszolgálása, <br>
          rendelés felvétel, mosogatás, takarítás. <br>
          • Tapasztalatok: vendégekkel való kommunikáció, <br> munkafolyamatok 
          tervezése, és gyors elsajátítása, váratlan helyzetek kezelése,
          együttműködés.
      </h3>
      <h2>
        Tanulmányok
      </h2>
      <h3>
        <p>Alapfokú:</p> Általános iskola, 09/2008 - 12/2014 <br>
        Bárdos Lajos Általános Iskola - Dunakeszi
        </h3>
        <h3>
        <p>Alapfokú:</p> Általános iskola, 12/2014 - 08/2016 <br>
        Fóti Szabad Waldorf Óvoda, Iskola és Gimnázium - Fót
      </h3>
      <h3>
        <p>Érettségi:</p> Alapfokú művészeti iskola, 09/2016 - 08/2021 <br>
        Fóti Szabad Waldorf Óvoda, Iskola és Gimnázium - Fót <br>
        <br>
          • Emelt szintű informatika érettségi
      </h3>
      <h3>
          <p>Technikus:</p> Szoftverfejlesztő és tesztelő, 09/2021 - 08/2023 <br>
          BZSH Külkereskedelmi Technikum - Budapest <br>
          <br>
          • Adatbázis kezelés: tanultunk sql lekérdezéseket írni, adatbázis
          tervezést, phpmyadmin felületen dolgoztunk. <br>
          • Backend: Laravel keretrendszer, php nyelv sem ismeretlen a
          számomra. <br>
          • Frontend: Angular keretrendszerben mélyedtünk el, azóta is főleg ezt
          használom. <br>
          • Git verziókezelés
      </h3>
      <h3>
          <p>BSc:</p> Mérnökinfromatikus, 09/2023 - Jelenleg <br>
          Gábor Dénes Egyetem - Budapest
      </h3>
      <h2>Eredmények</h2>
      <h3>
        • CCNA: Introduction to Networks course
      </h3>
    </div>

  </div>
</body>
</html>